.news {
    margin-top: 51px;
    height: 600px;
}

.news__container {
    position: relative;
}

.news__img {
    width: 557px;
}

.news__list {
    height: 600px;
    
}
.news__item {
    width: 557px;
    display: inline-block;
    margin-right: 25px;
    float: left;
}
.news__item:last-child {
    margin-left: 0px;
}

.paginator {
    position: absolute;
}

 