.about {
    margin-top: 124px;
    height: 552px;
    }
.about__container {
    position: relative;
    }
.about__image-left {
    float: left;
}
.about__content {
    position: absolute;
    top: 97px;
    right: 0px;
    width: 785px;
    height: 455px;
    background: url(/web-project/img/mountains.png);
    padding-top: 70px;
    padding-left: 81px;
    padding-bottom: 66px;
    padding-right: 81px;
    border-radius: 5px;
}

.about__text {
    margin-top: 40px;
    color:#000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    max-width: 502px;

}

.about__button {
    margin-top: 37px;
}
