.button {
    display: inline-block;
    background: #F5170E;
    color: #fff;
    border: none;
    border-radius: 35px;
    padding: 18px 40px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .button:hover {
    color: #fff;
      background: #da0100;
  }
  
  .offers__button--light {
    padding: 17px 29px;
    margin-left: 22px;
    border: 1px solid #F5170E;
    background: #fff;
    color: #F5170E;
  }
  
  .button__service--light {
    border: 1px solid #F5170E;
    background: #fff;
    color: #F5170E;
    margin-left: 49px;
  }