.contacts {
  margin-top: 30px;
  margin-left: auto;
  font-style: normal;
}

.contact__phone {
  display: block;
  font-size: 26px;
  text-decoration: none;
}

.contacts__dropdown-title {
  font-weight: 400;
  font-size: 13px;
  text-align: right;
  text-decoration: underline;
}

.contact__info {
  text-align: right;
  font-weight: 400;
  font-size: 11px;
}
