.footer {
    margin-bottom: 20px;
  }
  
  .footer__container {
    border-top: 1px solid #fFFFFF1A; 
  }
  
  .footer__col {
    display: flex;
    align-items: center;
    height: 120px;
    padding-bottom: 8px;
  }
