.headline {
    height: 245px;
}

.wrapper__content.wrapper__content--services {
    background: url(/img/headline1.png) no-repeat;
}

h1.title__headline {
    max-width: 511px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    margin-top: 90px;
}

.breadcrumbs {
    display: flex;
    margin-top: 105px;
    padding: 0;
}


.breadcrums--active {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
    text-decoration: underline;
}

.breadcrums--nonactive {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
    text-decoration: underline;
}

.breadcrumbs li:not(:last-child) a::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "/";
    text-decoration: none;
}

