.hello__container {
    padding-top: 72px;
}

h1.hello__title {
    max-width: 511px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 10px;
}

.hello__subtitle {
margin-top: 28px;
margin-bottom: 33px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
}