.news {
    margin-top: 127px;
    height: 600px;
}

.news__list{
    height: 394px;
    margin-bottom: 52px;
}

.news__items {
    margin-top: 51px;
}

.news__content {
    position: absolute;
    top: 253px;
    left: 30px;
}

.news__img {
    width: 557px;
}

.news__item {
    position: relative;
    width: 557px;
    float: left;
}
.news__item:last-child {
    margin-left: 25px;
}

.news__date {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
}

.news__title {
    margin-top: 12px;
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
}

.news__text {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
margin-top: 4px;
}

