.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;
  }
  .partners__item {
    margin-right: 50px;
  }
  
  .partners__link {
    filter: grayscale(100%);
  }
  
  .partners__link:hover {
    filter: grayscale(0);
    transition: .5s;
  }
  
  .partners__item:nth-child(4n) {
    margin-right: 0px;
  }
  