.services {
    background-color: #fff;;
    
}

.services__container  {
    padding-top: 50px;
    padding-bottom: 64px;
}

.services__content {
    padding-left: 56px;
    padding-top: 15px;
}

h5.services__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 33px;
    color:#000  ;
    margin-top: 5px;
    margin-bottom: 35px;
}

.services__list {
    margin-bottom: 65px;

}

.services__text {
    color: #000;

    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 27px;
padding-bottom: 35px;

}


.services__item {
    display: flex;
    margin-top: 50px;
}

.paginator__text--dark  {
    color: #000;
    margin-left: 40px;
}

.page__list--dark {
    display: flex;
    color: black;
    margin-left: 36px;
}

