.social {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 276px;
  }
  
  .social__item {
    margin-right: 10px;
  }
  
  .social__item:last-child {
    margin-right: 0;
  }
  
  .social__link {
    display: block;
    position: relative;
    text-decoration: none;
    width: 36px;
    height: 36px;
  }
  
  
  .social__link:hover {
    filter: brightness(250%);
  }