.title {
    font-weight: 700;
    font-size: 36px;
  }

  .title--fire:after {
    content: "";
    background: url(/web-project/img/flame.png) no-repeat;
    background-position: right;
    padding-right: 33px;
  }
  
  .title--dark {
    color: #000;
  }

  .page-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1;
  }
  
  .service__title {
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 31px;
    margin-left: 49px;
  }
  
  .inner-section__title {
    font-weight: 700;
    font-size: 48px;
    color: #1A1B1E;
    margin-bottom: 56px;
  }
